# Dependencies
node_modules/
dist/

# Environment files
.env
api/.env
*.env

# Sensitive files
maltafightco-0aa5cb40537f.json
api/setup-env.js
DepErrors.txt
credentials.json
service-account.json
*.json

# Build files
build/
.vercel/
